* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(24, 19, 28);
}

header {
    padding: 20px 35px;
    background-color:rgb(24, 19, 28);
}

header h1 {
    font-weight:bold;
    font-size: 36px;
    color: rgb(40, 203, 190);
    margin: 0;
    display: inline;
}

header h1 a {
    color:rgb(40, 203, 190);
}

header a {
    color: white;
}

header nav{
    float:right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(40, 203, 190);
}

a:active {
    text-decoration: none;
}

/* begin hero */

section {
    justify-content: center;
    text-align: center;
}

.hero {
    background-image: url("../assets/images/movies.jpg");
    background-size:cover;
    background-position: center;
    height: 300px;
    position: relative;
}

/* placeholder input text color */
::-webkit-input-placeholder { /* Chrome */
    color: gray;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: gray;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: gray;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: gray;
  }

.pick-login {
    margin: 0;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-input {
    display:block;
    padding: 6px 15px;
    font-size: 14px;
    color: black;
    margin-bottom: 0;
    margin-top: 15px;
    border-radius: 20px;
}

.moviesearch {
    padding: 140px;
}

.moviesearch h2 {
    padding: 20px;
    font-size: 30px;
}

/*begin modal*/


.modal {
    display: none;
    overflow:auto;
    
}


.modal-content {
    margin: 0;
    padding: 0 10px 20px 0;
    padding-top: 10px;
    width: 30%;
    height: 40%;
    display:flex;
    position:fixed;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    color: white;
    font-size: 20px;
    background-color: rgb(24, 19, 28, .95);
    top:50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

.modal label {
    padding: 10px;
}

.modal select {
    padding: 3px;
    width: 60%;
    text-align: center;
    background-color: rgb(170, 176, 175);
    border-radius: 5px;
    
}


.modal input {
    padding: 3px;
    width: 60%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(170, 176, 175)
    
}
  
  /* The Close Button */
  .close {
    padding: 0 10px;
    align-self: flex-end;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
 
.close:hover {
    color: rgb(40, 203, 190);
    }


/* button style */
.search-btn {
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(40, 203, 190);
    border:none;
    border-spacing: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #999;
  }
  
  .search-btn:hover {background-color: gray}
  
  .search-btn:active {
    background-color: rgb(40, 203, 190);
    box-shadow: 0 6px gray;
    transform: translateY(4px);
  }

 
  .search-btn2 {
    padding: 10px 15px;
    width: fit-content;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(40, 203, 190);
    border:none;
    border-spacing: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #999;
  }
  
  .search-btn2:hover {background-color: gray}
  
  .search-btn2:active {
    background-color: rgb(40, 203, 190);
    box-shadow: 0 6px gray;
    transform: translateY(4px);
  }

/* end hero */

/* favorites page styling */

.favoritesh2 {
    padding: 20px;
    font-size: 25px;
    text-align: center;
}


footer {
    padding: 20px 35px;
    background-color: rgb(24, 19, 28);
    color:white;
    position:fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: small;
}


@media screen and (max-width: 1024px) {
    .backgroundimage {
        left:50%;
        margin-left: -512px;
    }
    
}


  
  
 
  


  main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .movie {
      width: 500px;
      margin: 1rem;
      border-radius: 3px;
      background-color: grey;
      position:relative;
      overflow: hidden;
  }
  
  .movie img {
      width: 100%;
  }

  .movie-info {
      color:white;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .movie-info h3{
      margin-top: 0;
  }

  .overview {
      position:absolute;
      left:0;
      right:0;
      bottom:0;
      background-color: white;
      padding: 1rem;
      max-height: 100%;
      transform:translateY(101%);
      transition:transform 0.3s ease-in;
  }

  .movie:hover .overview{
      transform:translateY(0)
  }

  #tags{
      width:80%;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 10px auto;
  }

  .tag{
      color: rgb(40, 203, 190);
      padding:10px 20px;
      background-color: rgb(24, 19, 28);
      border-radius: 50px;
      margin:5px;
      cursor: pointer;
  }

  .tag.highlight{
      background-color: rgb(101, 110, 58);
  }

  .no-results{
      color:rgb(24, 19, 28);
  }